@font-face {
    font-family: 'customfont';
    src: url('misc/Diary of an 8-bit mage-02c5.woff') format('woff2'),
         url('DiaryOfAn8BitMage-lYDD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;